<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ShieldSentry Demo">
    <meta name="author" content="Apratim Shukla">
    <title>ShieldSentry | Flask Demo</title>
    
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
	
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="/marshmallow" method="POST">
			<h1>Sign in</h1>
		
			<input type="text" placeholder="Username" name="username" />
			<input type="password" placeholder="Password" name="password" />

			<button type="submit">Sign In</button>
			
			{% if message %}
			<p>{{ message }}</p>
			{% endif %}

		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>ShieldSentry Demo</h1>
				<br />
				<button class="ghost" onclick="window.location.href='/vulnerable'">Disable Marshmallow</button>
				<br />
				<button class="ghost" onclick="window.location.href='/'">Enable ShieldSentry</button>
			</div>
		</div>
	</div>
</div>


    </body>
</html>
